<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isExpanded</key>
		<false/>
		<key>relations</key>
		<string>同学</string>
		<key>friends</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name</key>
				<string>王五</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isExpanded</key>
		<true/>
		<key>relations</key>
		<string>同事</string>
		<key>friends</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name</key>
				<string>王五</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isExpanded</key>
		<false/>
		<key>relations</key>
		<string>康辉旅游</string>
		<key>friends</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>name</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>name</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>name</key>
				<string>王五</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
